{% load static %}

<nav class="navbar navbar-light bg-light navbar-expend-sm shadow-lg fixed-top">
    <div class="container">
        {% if categories %}
        <img id="menuBtn" src="{% static 'shop/img/menu.webp' %}" alt="menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">
        {% endif %}
        <input id="searchBar" type="search" placeholder="Search...">
        <h1 class="navbar-brand fs-1">SnapShop</h1>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
      <div class="offcanvas-header">
        <h3 id="offcanvasRightLabel">Categories</h3>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <a class="btn btn-sm btn-outline-dark" role="button" href="{% url 'shop:product_list' %}">All</a>
        {% for category in categories %}
        <a class="btn btn-sm btn-outline-dark" role="button" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
        {% endfor %}
      </div>
    </div> 
</nav>